# Breathe and Sphinx 2.x are incompatible at this time
Sphinx==3.3.0
exhale
sphinx_rtd_theme
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
